@{
    ViewData["Title"] = "Login";
}

<form asp-controller="Account" asp-action="Login" method="post">
    <div class="mb-3">
        <label class="form-label">Email address</label>
        <input name="email" value="SuperAdmin@mail.com" type="email" class="form-control">
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input name="password" value="Password*-1" type="password" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
